<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>The relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>images/products/</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/podstrony/errorpage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/podstrony/errorpage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/podstrony/errorpage.jsp</location>
    </error-page>
    <filter>
        <filter-name>login</filter-name>
        <filter-class>filters.login</filter-class>
    </filter>
    <filter>
        <filter-name>koszykRejestracja</filter-name>
        <filter-class>filters.koszykRejestracja</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>koszykRejestracja</filter-name>
        <url-pattern>/lista</url-pattern>
        <url-pattern>/rejestracja</url-pattern>
        <url-pattern>/Dodaj</url-pattern>
        <url-pattern>/dodajprodukt</url-pattern>
        <url-pattern>/realizacjazlecenia</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionAttributeListener</description>
        <listener-class>listener.SessionListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletKontrolny</servlet-name>
        <servlet-class>servlet.ServletKontrolny</servlet-class>
        <init-param>
            <param-name>nazwabazy</param-name>
            <param-value>danelogowania</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Dodaj</servlet-name>
        <servlet-class>servlet.Dodaj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>servlet.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edytuj</servlet-name>
        <servlet-class>servlet.Edytuj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZapiszEdytuj</servlet-name>
        <servlet-class>servlet.ZapiszEdytuj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usun</servlet-name>
        <servlet-class>servlet.Usun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajProdukt</servlet-name>
        <servlet-class>servlet.DodajProdukt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dodaj</servlet-name>
        <url-pattern>/Dodaj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edytuj</servlet-name>
        <url-pattern>/Edytuj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZapiszEdytuj</servlet-name>
        <url-pattern>/ZapiszEdytuj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usun</servlet-name>
        <url-pattern>/Usun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajProdukt</servlet-name>
        <url-pattern>/DodajProdukt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKontrolny</servlet-name>
        <url-pattern>/dodajprodukt</url-pattern>
        <url-pattern>/glowna</url-pattern>
        <url-pattern>/kontakt</url-pattern>
        <url-pattern>/sklepy</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/rejestracja</url-pattern>
        <url-pattern>/lista</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/liczbasesji</url-pattern>
        <url-pattern>/edytuj</url-pattern>
        <url-pattern>/produkty</url-pattern>
        <url-pattern>/realizacjazlecenia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/podstrony/*</url-pattern>
            <include-prelude>/jspf/header.jspf</include-prelude>
            <include-coda>/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <res-ref-name>jdbc/danelogowania</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
