@charset "utf-8";
/* CSS Document */

body{
    margin:0;
}
body,html{
  height:100%;
}
#logo{
    background:#535a66;
    height:30vh;
}
#logo h1{
    margin:0;
    text-align:center;
    vertical-align:middle;
    line-height:30vh;
    color:#D4BFAA;
    font-size:50px;
}
#menu{
    overflow:auto;
    background:#888888 !important;
    width:15%;
    min-height:70vh !important;
    float:left;
    text-align: center;
    margin: 0;
}
#mainpage{
    overflow:auto;
    min-height:70vh;
    width: 85%;
}
#footer{
    float: left;
    background:#888888;
    width: 100%;
}
#logo h1{
    text-align:center;
    font-size: 32;
}

#section{
    height:100%;
}
li{
    vertical-align:middle;
    padding:5px;
    
    list-style:none;
    height:50px;
    line-height:50px;
    border-bottom:2px solid #000;
}
li a{
    display:block;
}
ul{
    margin: 5px;
    border:2px solid #000;
    background:#808080;
    padding:0;
}
a{
	text-decoration:none;
	color:#000;
}
#last{
    border-bottom:none;
}
li:hover{
	background:#555F55;
}

#login{
    float: right;
}

input{
    margin: 5px;
}

/* Koszyk */

#tittle, #photo, #amount, #cost{
    float: left;
    border: 1px solid #000;
    display: inline-block;
    height: 60px;
    position:relative;
}

#tittle{
    margin-left: 50px;
    width: 25%;
}
#photo{
    width: 15%;
}
#cost{
    width: 15%;
}
#amount{
    width: 15%;
}
p{
    padding-right: 20px;
    padding-left: 20px;
    display:inline-block; 
    vertical-align:middle
}

#amount input{
    display: inline;
    text-align: center;
    vertical-align: middle;
}

#line{
    width: 100%;
    float: left;
}
#koszyk{
    margin-top: 50px;
    margin-bottom: 50px;
}

#podsumowanie{
    margin-right: 10%;
    float: right;
    text-align: right;  
    margin-top: 5px;
    border-top: 1px solid #000;
}