@charset "utf-8";
/* CSS Document */

body{
    margin:0;
}
body,html{
  height:100%;
}
#logo{
    background:#535a66;
    height:30vh;
}
#logo h1{
    margin:0;
    text-align:center;
    vertical-align:middle;
    line-height:30vh;
    color:#D4BFAA;
    font-size:50px;
}
#mainpage{
    overflow:auto;
    min-height:70vh;
    width: 100%;
}
#footer{
    float: left;
    background:#888888;
    width: 100%;
}
#logo h1{
    text-align:center;
    font-size: 32;
}

#section{
    height:100%;
}

#login{
    float: right;
}
#reg{
    float: left;
    padding-top: 40px;
    text-align: center;
    min-height: 70vh;
    width: 100%;
}
.block label{
    display: inline-block; 
    text-align: right;
    width: 5%;
}

.block label, input{
    margin: 5px;
}
